--
-- PostgreSQL database dump
--

\restrict DtSUvawhR1BFUFObZn9uDadlCMDOv1ISREvvZWFO2tmfBR1aFhIXRc0BZ1tKql3

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: booking; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA booking;


ALTER SCHEMA booking OWNER TO postgres;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: booking_status; Type: TYPE; Schema: booking; Owner: postgres
--

CREATE TYPE booking.booking_status AS ENUM (
    'pending',
    'confirmed',
    'cancelled',
    'no_show'
);


ALTER TYPE booking.booking_status OWNER TO postgres;

--
-- Name: notification_channel; Type: TYPE; Schema: booking; Owner: postgres
--

CREATE TYPE booking.notification_channel AS ENUM (
    'email',
    'sms',
    'push'
);


ALTER TYPE booking.notification_channel OWNER TO postgres;

--
-- Name: notification_status; Type: TYPE; Schema: booking; Owner: postgres
--

CREATE TYPE booking.notification_status AS ENUM (
    'queued',
    'sent',
    'failed',
    'delivered'
);


ALTER TYPE booking.notification_status OWNER TO postgres;

--
-- Name: payment_status; Type: TYPE; Schema: booking; Owner: postgres
--

CREATE TYPE booking.payment_status AS ENUM (
    'pending',
    'paid',
    'failed',
    'refunded',
    'partially_refunded'
);


ALTER TYPE booking.payment_status OWNER TO postgres;

--
-- Name: timeslot_status; Type: TYPE; Schema: booking; Owner: postgres
--

CREATE TYPE booking.timeslot_status AS ENUM (
    'open',
    'blocked',
    'maintenance'
);


ALTER TYPE booking.timeslot_status OWNER TO postgres;

--
-- Name: user_status; Type: TYPE; Schema: booking; Owner: postgres
--

CREATE TYPE booking.user_status AS ENUM (
    'active',
    'inactive',
    'suspended'
);


ALTER TYPE booking.user_status OWNER TO postgres;

--
-- Name: generate_timeslots_for_all(date, date); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.generate_timeslots_for_all(p_start_date date, p_end_date date) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_branch_id uuid;
  v_total     int := 0;
BEGIN
  FOR v_branch_id IN SELECT id FROM booking.branches LOOP
    v_total := v_total + booking.generate_timeslots_for_branch(v_branch_id, p_start_date, p_end_date);
  END LOOP;
  RETURN v_total;
END;
$$;


ALTER FUNCTION booking.generate_timeslots_for_all(p_start_date date, p_end_date date) OWNER TO postgres;

--
-- Name: generate_timeslots_for_branch(uuid, date, date); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.generate_timeslots_for_branch(p_branch_id uuid, p_start_date date, p_end_date date) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_res_id uuid;
  v_total  int := 0;
BEGIN
  FOR v_res_id IN
    SELECT id FROM booking.resources WHERE branch_id = p_branch_id AND active = true
  LOOP
    v_total := v_total + booking.generate_timeslots_for_resource(v_res_id, p_start_date, p_end_date);
  END LOOP;
  RETURN v_total;
END;
$$;


ALTER FUNCTION booking.generate_timeslots_for_branch(p_branch_id uuid, p_start_date date, p_end_date date) OWNER TO postgres;

--
-- Name: generate_timeslots_for_resource(uuid, date, date); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.generate_timeslots_for_resource(p_resource_id uuid, p_start_date date, p_end_date date) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_tz           text;
  v_slot_min     int;
  v_date         date;
  v_dow          int;
  v_start_time   time;
  v_end_time     time;
  v_cursor_ts    timestamptz;
  v_next_ts      timestamptz;
  v_inserted     int := 0;
BEGIN
  IF p_end_date <= p_start_date THEN
    RAISE EXCEPTION 'end_date must be greater than start_date';
  END IF;

  SELECT booking.get_branch_timezone(p_resource_id) INTO v_tz;
  SELECT booking.get_slot_minutes(p_resource_id) INTO v_slot_min;

  IF v_tz IS NULL OR v_slot_min IS NULL THEN
    RAISE EXCEPTION 'Resource %, missing timezone or slot_duration_min', p_resource_id;
  END IF;

  v_date := p_start_date;
  WHILE v_date < p_end_date LOOP
    IF NOT booking.is_holiday_for_resource(p_resource_id, v_date) THEN
      v_dow := EXTRACT(ISODOW FROM v_date);  -- 1=Mon .. 7=Sun
      v_dow := CASE v_dow WHEN 7 THEN 0 ELSE v_dow END;

      FOR v_start_time, v_end_time IN
        SELECT st.start_time, st.end_time
        FROM booking.schedule_templates st
        WHERE st.resource_id = p_resource_id
          AND st.day_of_week = v_dow
      LOOP
        v_cursor_ts := ( (v_date::timestamp + v_start_time) AT TIME ZONE v_tz );
        v_next_ts   := ( (v_date::timestamp + v_end_time)   AT TIME ZONE v_tz );

        WHILE v_cursor_ts < v_next_ts LOOP
          DECLARE
            v_step_end timestamptz := v_cursor_ts + make_interval(mins => v_slot_min);
          BEGIN
            IF v_step_end > v_next_ts THEN
              EXIT;
            END IF;

            INSERT INTO booking.timeslots(resource_id, start_at, end_at, status, available_capacity)
            VALUES (
              p_resource_id, 
              v_cursor_ts, 
              v_step_end, 
              'open',
              (SELECT max_capacity FROM booking.schedule_templates 
               WHERE resource_id = p_resource_id AND day_of_week = v_dow LIMIT 1)
            )
            ON CONFLICT ON CONSTRAINT timeslot_unique_slot DO NOTHING;

            IF FOUND THEN
              v_inserted := v_inserted + 1;
            END IF;

            v_cursor_ts := v_step_end;
          END;
        END LOOP;
      END LOOP;
    END IF;

    v_date := v_date + INTERVAL '1 day';
  END LOOP;

  RETURN v_inserted;
END;
$$;


ALTER FUNCTION booking.generate_timeslots_for_resource(p_resource_id uuid, p_start_date date, p_end_date date) OWNER TO postgres;

--
-- Name: generate_timeslots_next_7_days(); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.generate_timeslots_next_7_days() RETURNS integer
    LANGUAGE sql
    AS $$
  SELECT booking.generate_timeslots_for_all(current_date, current_date + 7);
$$;


ALTER FUNCTION booking.generate_timeslots_next_7_days() OWNER TO postgres;

--
-- Name: get_branch_timezone(uuid); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.get_branch_timezone(p_resource_id uuid) RETURNS text
    LANGUAGE sql STABLE
    AS $$
  SELECT b.timezone
  FROM booking.resources r
  JOIN booking.branches b ON b.id = r.branch_id
  WHERE r.id = p_resource_id;
$$;


ALTER FUNCTION booking.get_branch_timezone(p_resource_id uuid) OWNER TO postgres;

--
-- Name: get_slot_minutes(uuid); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.get_slot_minutes(p_resource_id uuid) RETURNS integer
    LANGUAGE sql STABLE
    AS $$
  SELECT rt.slot_duration_min
  FROM booking.resources r
  JOIN booking.resource_types rt ON rt.id = r.type_id
  WHERE r.id = p_resource_id;
$$;


ALTER FUNCTION booking.get_slot_minutes(p_resource_id uuid) OWNER TO postgres;

--
-- Name: is_holiday_for_resource(uuid, date); Type: FUNCTION; Schema: booking; Owner: postgres
--

CREATE FUNCTION booking.is_holiday_for_resource(p_resource_id uuid, p_date date) RETURNS boolean
    LANGUAGE sql STABLE
    AS $$
  SELECT EXISTS (
    SELECT 1
    FROM booking.resources r
    JOIN booking.holidays h ON h.branch_id = r.branch_id
    WHERE r.id = p_resource_id
      AND h.date = p_date
  );
$$;


ALTER FUNCTION booking.is_holiday_for_resource(p_resource_id uuid, p_date date) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_id uuid,
    action text NOT NULL,
    entity text NOT NULL,
    entity_id uuid,
    old_values jsonb,
    new_values jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.audit_logs OWNER TO postgres;

--
-- Name: bookings; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.bookings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    resource_id uuid NOT NULL,
    timeslot_id uuid NOT NULL,
    policy_id uuid,
    status booking.booking_status DEFAULT 'pending'::booking.booking_status NOT NULL,
    guest_count integer DEFAULT 1,
    special_requests text,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bookings_guest_count_check CHECK ((guest_count >= 1))
);


ALTER TABLE booking.bookings OWNER TO postgres;

--
-- Name: branches; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.branches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    name text NOT NULL,
    timezone text DEFAULT 'UTC'::text NOT NULL,
    contact_info jsonb DEFAULT '{}'::jsonb,
    address jsonb,
    settings jsonb DEFAULT '{}'::jsonb,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.branches OWNER TO postgres;

--
-- Name: cancellation_policies; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.cancellation_policies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    rules jsonb NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.cancellation_policies OWNER TO postgres;

--
-- Name: holidays; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.holidays (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    branch_id uuid NOT NULL,
    name text NOT NULL,
    date date NOT NULL,
    recurring boolean DEFAULT false,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.holidays OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    booking_id uuid,
    channel booking.notification_channel NOT NULL,
    type text NOT NULL,
    subject text,
    body text NOT NULL,
    payload jsonb NOT NULL,
    status booking.notification_status DEFAULT 'queued'::booking.notification_status NOT NULL,
    retry_count integer DEFAULT 0,
    sent_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.notifications OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.organizations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    contact_email text,
    phone text,
    address jsonb,
    settings jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.organizations OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid NOT NULL,
    amount numeric(12,2) NOT NULL,
    amount_paid numeric(12,2) DEFAULT 0,
    currency text DEFAULT 'USD'::text,
    status booking.payment_status DEFAULT 'pending'::booking.payment_status NOT NULL,
    payment_method text,
    provider_ref text,
    receipt_url text,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT payment_amount_check CHECK ((amount_paid <= amount)),
    CONSTRAINT payments_amount_check CHECK ((amount >= (0)::numeric))
);


ALTER TABLE booking.payments OWNER TO postgres;

--
-- Name: resource_types; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.resource_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    slot_duration_min integer NOT NULL,
    max_booking_days integer DEFAULT 30,
    min_booking_hours integer DEFAULT 1,
    settings jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT resource_types_slot_duration_min_check CHECK ((slot_duration_min > 0))
);


ALTER TABLE booking.resource_types OWNER TO postgres;

--
-- Name: resources; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.resources (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    branch_id uuid NOT NULL,
    type_id uuid NOT NULL,
    name text NOT NULL,
    description text,
    capacity integer NOT NULL,
    features jsonb DEFAULT '[]'::jsonb,
    settings jsonb DEFAULT '{}'::jsonb,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT resources_capacity_check CHECK ((capacity >= 1))
);


ALTER TABLE booking.resources OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    permissions jsonb DEFAULT '[]'::jsonb,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.roles OWNER TO postgres;

--
-- Name: schedule_templates; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.schedule_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    resource_id uuid NOT NULL,
    day_of_week smallint NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    max_capacity integer DEFAULT 1,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT schedule_templates_day_of_week_check CHECK (((day_of_week >= 0) AND (day_of_week <= 6))),
    CONSTRAINT schedule_time_order CHECK ((start_time < end_time))
);


ALTER TABLE booking.schedule_templates OWNER TO postgres;

--
-- Name: timeslots; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.timeslots (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    resource_id uuid NOT NULL,
    start_at timestamp with time zone NOT NULL,
    end_at timestamp with time zone NOT NULL,
    status booking.timeslot_status DEFAULT 'open'::booking.timeslot_status NOT NULL,
    available_capacity integer DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT timeslot_time_order CHECK ((start_at < end_at))
);


ALTER TABLE booking.timeslots OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: booking; Owner: postgres
--

CREATE TABLE booking.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    role_id uuid NOT NULL,
    org_id uuid,
    status booking.user_status DEFAULT 'active'::booking.user_status NOT NULL,
    preferences jsonb DEFAULT '{"language": "en", "notifications": true}'::jsonb,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE booking.users OWNER TO postgres;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.audit_logs (id, actor_id, action, entity, entity_id, old_values, new_values, ip_address, user_agent, created_at) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Data for Name: branches; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Data for Name: cancellation_policies; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.cancellation_policies (id, name, description, rules, active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: holidays; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.holidays (id, branch_id, name, date, recurring, description, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.notifications (id, user_id, booking_id, channel, type, subject, body, payload, status, retry_count, sent_at, created_at) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.organizations (id, name, contact_email, phone, address, settings, created_at, updated_at) FROM stdin;
c2aee275-3e20-4874-b3bf-bc9d44e2ce3d	Liberty Workspaces Inc.	\N	\N	\N	{}	2025-11-15 16:18:11.667258+00	2025-11-15 16:18:11.667258+00
1411869f-265e-41af-b88b-08e5e88f46a0	TestCorp USA	admin@testcorp.com	+1-555-000-0000	{"city": "New York", "country": "US"}	{"language": "en", "timezone": "America/New_York"}	2025-11-16 14:37:29.426964+00	2025-11-16 14:37:29.426964+00
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.payments (id, booking_id, amount, amount_paid, currency, status, payment_method, provider_ref, receipt_url, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: resource_types; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Data for Name: resources; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: booking; Owner: postgres
--

COPY booking.roles (id, name, permissions, description, created_at) FROM stdin;
17cf15f4-dc1a-46b6-8c61-bd4ca0e82989	admin	["manage_users", "manage_bookings", "manage_resources", "view_reports"]	System Administrator	2025-11-13 08:04:45.577526+00
103229da-8fd3-4665-96fa-8ecc0390bba2	staff	["manage_bookings", "view_reports"]	Staff Member	2025-11-13 08:04:45.577526+00
b0e74801-bf03-43ef-b362-31cae5fe8792	customer	["make_bookings", "view_own_bookings"]	Customer	2025-11-13 08:04:45.577526+00
\.


--
-- Data for Name: schedule_templates; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Data for Name: timeslots; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: booking; Owner: postgres
--



--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: cancellation_policies cancellation_policies_name_key; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.cancellation_policies
    ADD CONSTRAINT cancellation_policies_name_key UNIQUE (name);


--
-- Name: cancellation_policies cancellation_policies_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.cancellation_policies
    ADD CONSTRAINT cancellation_policies_pkey PRIMARY KEY (id);


--
-- Name: holidays holidays_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.holidays
    ADD CONSTRAINT holidays_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: resource_types resource_types_name_key; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.resource_types
    ADD CONSTRAINT resource_types_name_key UNIQUE (name);


--
-- Name: resource_types resource_types_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.resource_types
    ADD CONSTRAINT resource_types_pkey PRIMARY KEY (id);


--
-- Name: resources resources_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.resources
    ADD CONSTRAINT resources_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: schedule_templates schedule_templates_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.schedule_templates
    ADD CONSTRAINT schedule_templates_pkey PRIMARY KEY (id);


--
-- Name: timeslots timeslot_unique_slot; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.timeslots
    ADD CONSTRAINT timeslot_unique_slot UNIQUE (resource_id, start_at, end_at);


--
-- Name: timeslots timeslots_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.timeslots
    ADD CONSTRAINT timeslots_pkey PRIMARY KEY (id);


--
-- Name: holidays unique_holiday_per_branch; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.holidays
    ADD CONSTRAINT unique_holiday_per_branch UNIQUE (branch_id, date);


--
-- Name: resources unique_resource_name_per_branch; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.resources
    ADD CONSTRAINT unique_resource_name_per_branch UNIQUE (branch_id, name);


--
-- Name: schedule_templates unique_template_per_day; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.schedule_templates
    ADD CONSTRAINT unique_template_per_day UNIQUE (resource_id, day_of_week);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_entity_created; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_audit_entity_created ON booking.audit_logs USING btree (entity, entity_id, created_at);


--
-- Name: idx_bookings_resource_date; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_bookings_resource_date ON booking.bookings USING btree (resource_id, created_at);


--
-- Name: idx_bookings_timeslot_status; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_bookings_timeslot_status ON booking.bookings USING btree (timeslot_id, status);


--
-- Name: idx_bookings_user_status; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_bookings_user_status ON booking.bookings USING btree (user_id, status);


--
-- Name: idx_notifications_created; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_notifications_created ON booking.notifications USING btree (created_at);


--
-- Name: idx_notifications_user_status; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_notifications_user_status ON booking.notifications USING btree (user_id, status);


--
-- Name: idx_payments_booking_status; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_payments_booking_status ON booking.payments USING btree (booking_id, status);


--
-- Name: idx_payments_created; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_payments_created ON booking.payments USING btree (created_at);


--
-- Name: idx_timeslots_resource_start; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_timeslots_resource_start ON booking.timeslots USING btree (resource_id, start_at);


--
-- Name: idx_timeslots_status_date; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_timeslots_status_date ON booking.timeslots USING btree (status, start_at);


--
-- Name: idx_users_email_status; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_users_email_status ON booking.users USING btree (email, status);


--
-- Name: idx_users_org_role; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE INDEX idx_users_org_role ON booking.users USING btree (org_id, role_id);


--
-- Name: uniq_bookings_active_timeslot; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE UNIQUE INDEX uniq_bookings_active_timeslot ON booking.bookings USING btree (timeslot_id) WHERE (status = ANY (ARRAY['pending'::booking.booking_status, 'confirmed'::booking.booking_status]));


--
-- Name: uniq_organization_name; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE UNIQUE INDEX uniq_organization_name ON booking.organizations USING btree (lower(name));


--
-- Name: uniq_user_email_lower; Type: INDEX; Schema: booking; Owner: postgres
--

CREATE UNIQUE INDEX uniq_user_email_lower ON booking.users USING btree (lower(email));


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES booking.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bookings bookings_policy_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.bookings
    ADD CONSTRAINT bookings_policy_id_fkey FOREIGN KEY (policy_id) REFERENCES booking.cancellation_policies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bookings bookings_resource_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.bookings
    ADD CONSTRAINT bookings_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES booking.resources(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bookings bookings_timeslot_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.bookings
    ADD CONSTRAINT bookings_timeslot_id_fkey FOREIGN KEY (timeslot_id) REFERENCES booking.timeslots(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES booking.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: branches branches_org_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.branches
    ADD CONSTRAINT branches_org_id_fkey FOREIGN KEY (org_id) REFERENCES booking.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: holidays holidays_branch_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.holidays
    ADD CONSTRAINT holidays_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES booking.branches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_booking_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.notifications
    ADD CONSTRAINT notifications_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES booking.bookings(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES booking.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_booking_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.payments
    ADD CONSTRAINT payments_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES booking.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: resources resources_branch_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.resources
    ADD CONSTRAINT resources_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES booking.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: resources resources_type_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.resources
    ADD CONSTRAINT resources_type_id_fkey FOREIGN KEY (type_id) REFERENCES booking.resource_types(id) ON UPDATE CASCADE;


--
-- Name: schedule_templates schedule_templates_resource_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.schedule_templates
    ADD CONSTRAINT schedule_templates_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES booking.resources(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: timeslots timeslots_resource_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.timeslots
    ADD CONSTRAINT timeslots_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES booking.resources(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_org_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.users
    ADD CONSTRAINT users_org_id_fkey FOREIGN KEY (org_id) REFERENCES booking.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: booking; Owner: postgres
--

ALTER TABLE ONLY booking.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES booking.roles(id) ON UPDATE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DtSUvawhR1BFUFObZn9uDadlCMDOv1ISREvvZWFO2tmfBR1aFhIXRc0BZ1tKql3

